:root { 
  --global_main_color: #2acbd2; 
  --global_main_color_btn_text_color: #ffffff; 
  --home_text_color: #ffffff; 
  --home_third_background_color: #000000; 
  --home_custom_image_size: 500px; 
  --home_custom_image_width: 207px; 
  --home_text_size_px: 64px; 
  --home_text_size_2_px: 45px; 
  --slogan_text_size_px: 21px; 
  --home_text_size: 64; 
  --home_text_size_2: 45; 
  --slogan_text_size: 21; 
  --home_text_size_px_media: 64px; 
  --home_text_size_2_px_media: 45px; 
  --slogan_text_size_px_media: 21px; 
  --layout_text_align: center; 
  --layout_text_align_rtl: center; 
  --layout_text_box_width: 100%; 
  --layout_left_side_width: 50%; 
  --layout_left_side_width_vh: 50vh; 
  --homepage_layout_height: 100%; 
  --homepage_layout_height_vh: 100vh; 
  --homepage_layout_height_menu_space: 0px; 
  --mainNavMobileHeight: 0px; 
  --homepage_layout_height_opacity_space_top: 0px; 
  --homepage_layout_height_opacity_space_bottom: 0px; 
  --mobileMenuFontSize: 20px; 
  --mobileMenuPagesSpace: 5px; 
  --homepageShapeDividerList_Size: 17%; 
  --layout_bottom_spacing: 0px; 
  --window-height: 100vh; 
  --window-width: 100vw; 
  --menu_font_size: 14px; 
  --menu_pages_space: 5px; 
  --menu_pages_side_padding: 15px; 
  --menu_pages_letter_spacing: 1px; 
  --menu_pages_word_spacing: 0px; 
  --menu_thin_border: #ebebeb; 
  --mobileMenuTextAlign: center; 
  --menu_text_color: #252525; 
  --menu_color: #ffffff; 
  --modules_color_text: #252525; 
  --modules_color_text_second: #252525; 
  --inside_modules_color_text: #252525; 
  --sectionsPadding: 75px; 
  --home_text_top_space_1: 0px; 
  --home_text_bottom_space_1: 16px; 
  --home_text_top_space_2: 0px; 
  --home_text_bottom_space_2: 30px; 
  --home_text_top_space_3: 0px; 
  --home_text_bottom_space_3: 31px; 
  --homepage_padding_top: px; 
  --homepage_padding_bottom: px; 
  --homepage_main_goal_margin_top: 0px; 
  --homepage_main_goal_margin_bottom: 0px; 
  --homepage_second_goal_margin_top: 20px; 
  --homepage_second_goal_margin_bottom: 86px; 
  --modules_color_second: #fafafa; 
  --modules_color: #ffffff; 
  --footer_back: #ffffff; 
  --home_background_color: #000000;
}